/* App Controls & Info */
.nis {background:url("../images/ui/background.png");}
.nistext {color: #E5E6EB;}
.nisbutton{height:32px; position:relative; background:url('../images/ui/nisbutton.png') 0px -100%/24px 400% repeat content-box; cursor:pointer; text-align:center; color:#000; font-family:'trajan-pro-3'; text-shadow:1px 1px 2px #ECC622; font-size:18px; margin:5px; padding:0px 12px; line-height:32px; user-select:none; -webkit-user-select:none;}
.nisbutton::before{width:12px; height:100%; content:""; position:absolute; top:0px; left:0px; background:url('../images/ui/nisbutton.png') 0px 0px / 24px 400%;}
.nisbutton::after{width:12px; height:100%; content:""; position:absolute; top:0px; right:1px; background:url('../images/ui/nisbutton.png') -12px 0px / 24px 400%;}
.nisbutton:hover{background-position:0px -300%;}
.nisbutton:hover::before{background-position:0px -200%;}
.nisbutton:hover::after{background-position:-12px -200%;}
.nisbutton:active, .nisbutton.fakeactive{-webkit-filter:brightness(1.2); filter:brightness(1.2);}

/* Loading Spinner */
#copyright {position : absolute; top : 360px; font-size: 10px; color: #5a6400; text-align : center; padding-top: 3px; height : 20px; width : calc(100% - 6px);}

/* Basic Style Data */
a {color: white;}
a:hover {color:#a19100;}
#base {position: relative; width: 100%; height: 310px;}

/* About Info & Settings Menu */
#infobutton {position: absolute; top: 7px; left: 7px; width: 12px; height: 12px; z-index: 11; background-image:url('../images/ui/infoicon.png'); cursor:pointer;}
#infobutton:hover {background-position:0px -12px;}
#menubutton {position: absolute; top: 23px; left: 7px; width: 12px; height: 12px; z-index: 11; background-image:url('../images/ui/settingscog.png'); cursor:pointer;}
#menubutton:hover {background-position:0px -12px;}
#donatebutton {position: absolute; top: 39px; left: 7px; width: 12px; height: 12px; z-index: 11; background:url('../images/ui/donate.png') 0px 0px / cover; cursor:pointer;}
#donatebutton:hover {background-position:0px -12px;}

/* Search Box & Button */
#search-info {position: relative; top: 3px; left: 20px; height: 20px; width : calc(68% - 20px); background-color:#2f2f2f; color:#a39e00; cursor:pointer; }
#search-button {position: absolute; top: 3px; left: 70%; height: 33px; width : calc(30% - 35px);}

/* Loading Spinner */
.loading {display: flex; justify-content: center; visibility: visible;}
.loading::after {content: ""; width: 13px; height: 13px; border: 5px ridge rgba(184, 184, 184, 0.253); border-top-color: rgb(30, 87, 121); border-bottom-color: rgb(30, 87, 121); border-radius: 50%; transform: rotate(0.16turn); animation: loading 2.5s linear infinite;}
.loading-container {position: absolute; top: 12px; left: 90%; height: 25px; width: 25px;}
@keyframes loading {to{transform: rotate(1turn);}}

/* Division Bar */
div#divide {position : absolute; left : 49.35%; top : 10px; height : 100%; width : 1px; background-color: white;}
div.left {position : absolute; left : 0%; width : 48%;}
div.right {position : absolute; left : 50%; width : 48%;}
div.center {position : absolute; left : 0%; width : 98%; height: 85%;}

/* Type of Assignment */
div[id^="type"] {position : relative; left : 0%; top : 10px; color: green; font-size: 20px; text-align : center; height : 25px; width : 100%;}
.right div[id^="type"] {color: red;}
#type-2 {color: gold;}

/* Slayer Info */
div[id^="info"] {position : absolute; left : 3px; top : 40px; text-align : left; height : 40px; width : 100%;}
div[id^="info"]:hover {background-color: #324e6165;}
div[id^="task-wiki"] {position : absolute; left : 0px; top : -4px; cursor:pointer; text-align : left; background: transparent url("../images/ui/wikipedia.png") 0px 0px / cover; height : 24px; width : 24px;}
div[id^="task-wiki"]:hover {background-position:0px -24px;}
div[id^="kills"] {position : absolute; left : 18px; top : 0px; text-align : right; height : 16px; width : 40px;}
div[id^="name"] {position : absolute; left : 62px; top : 0px; text-align : left; height : 16px; width : calc(100% - 65px); overflow: hidden;}
div#slayer-exp-text {position : absolute; left : 3px; top : 20px; text-align : left; height : 16px; width : 30px;}
div[id^="total-slayer-exp"] {position : absolute; left : 35px; top : 20px; text-align : left; height : 16px; width : calc(100% - 40px); overflow: hidden;}

/* Preview Task Wiki */
div[id^="preview-task-wiki"] {visibility: hidden; position : absolute; left : 0px; top : 22px; z-index: 11; border: 2px ridge #a19100; background: url("../images/ui/background.png"); text-align : left; height : 240px; width : calc(100% - 6px);}
div[id^="masters"] {position : absolute; left : 0px; top : 0px; text-align : left; width : 100%; height: auto;}
div[id^="masterTitle"] {position : relative; cursor:pointer; border-color: #a19100; border-bottom-style: double; padding-top: 2px; padding-left: 3px; font-size: 18px; height: 27px; width: 100%;  overflow: hidden;}
div[id^="masterInfo"] {position : relative; cursor:pointer; padding-top: 2px; padding-left: 3px; font-size: 14px; height: 27px; width: 100%;  overflow: hidden;}
div[id^="masterInfo"]:hover {background-color: #64643065;}
img[id^="masterImage"] {position : relative; vertical-align: middle; text-align : center; width : 20px; height: 27px;}

/* Equpiment */
img#equip-image {position : absolute; left : 3px; top : 80px; height : 20px; width : 20px;}
div#title-1 {position : relative; margin-left: auto; margin-right: auto; left: 0px; top: 50px; font-size: 14px; padding-left: 5px; padding-right: 5px;  color: lightslategrey; background: url("../images/ui/background.png"); text-align : center; height : 13px; width : 40%; }
div[id^="equipment"] {position : absolute; left : 5px; top : 80px; text-align : left; border-color: #a19100; border-top-style: double; padding-top: 3px; height : 60px; width : calc(100% - 6px);}
div[id^="equipInfo"] {position : relative; text-align : left; height : auto; width : 100%; overflow: hidden;}
div[id^="equipInfo"]:hover {background-color: #64643065;}
div[id^="equipHidden"] {visibility: hidden; z-index: 11; position : absolute; left : 0px; top : 42px; background: url("../images/ui/background.png"); border-color: lightslategrey; border-left-style: groove; border-right-style: groove; border-bottom-style: groove; margin-left: -3px; height : auto; width : 100%; overflow: hidden;}
div[id^="equipMore"] {position : absolute; left : 0px; top : 42px; cursor:pointer; text-decoration: underline; color: lightslategrey; font-size: 10px; text-align : left; height : 16px; width : 100%; overflow: hidden;}
div[id^="equipMore"]:hover {background-color: #64643065;}

/* Locations */
img#location-image {position : absolute; left : 3px; top : 140px; height : 20px; width : 20px;}
div#title-2 {position : relative; margin-left: auto; margin-right: auto; left: 0px; top : 100px; font-size: 14px; padding-left: 5px; padding-right: 5px;  color: lightslategrey; background: url("../images/ui/background.png"); text-align : center; height : 13px; width : 40%; }
div[id^="locations"] {position : absolute; left : 5px; top : 145px; text-align : left; border-color: #a19100; border-top-style: double; padding-top: 3px; height : 60px; width : calc(100% - 6px);}
div[id^="locationInfo"] {position : relative; text-align : left; height : auto; width : 100%; overflow: hidden;}
div[id^="locationInfo"]:hover {background-color: #64643065;}
div[id^="locationHidden"] {visibility: hidden; z-index: 11; position : absolute; left : 0px; top : 42px; background: url("../images/ui/background.png"); border-color: lightslategrey; border-left-style: groove; border-right-style: groove; border-bottom-style: groove; margin-left: -3px; height : auto; width : 100%; overflow: hidden;}
div[id^="locationMore"] {position : absolute; left : 0px; top : 42px; cursor:pointer; text-decoration: underline; color: lightslategrey; font-size: 10px; text-align : left; height : 16px; width : 100%; overflow: hidden;}
div[id^="locationMore"]:hover {background-color: #64643065;}

/* Creature Wiki */
div#title-3 {position : relative; margin-left: auto; margin-right: auto; left: 0px; top : 152px; font-size: 14px; padding-left: 5px; padding-right: 5px;  color: lightslategrey; background: url("../images/ui/background.png"); text-align : center; height : 13px; width : 40%; }
div#title-border-3 {position : absolute; left : 3px; top : 210px; border-color: #a19100; border-top-style: double; padding-top: 3px; height : 13px; width : calc(100% - 6px);}
div[id^="creature-wiki"] {position : absolute; left : -2px; top : 218px; cursor:pointer; text-align : left; background: transparent url("../images/ui/wikipedia.png") 0px 0px / cover; height : 24px; width : 24px;}
div[id^="creature-wiki"]:hover {background-position:0px -24px;}
select[id^="creatures"] {position : absolute; left : 24px; top : 220px; cursor:pointer; height : 20px; width : calc(64% - 10px); background-color: #2f2f2f;}
select[id^="variants"] {position : absolute; left : calc(65% + 16px); top : 220px; cursor:pointer; height : 20px; width : calc(34.5% - 15px); background-color: #2f2f2f;}

/* Creature Wiki Preview */
div[id^="preview-creature-wiki"] {visibility: hidden; position : absolute; left : 3px; top : 40px; z-index: 11; border: 2px ridge #a19100; background: url("../images/ui/background.png"); text-align : left; height : 170px; width : calc(100% - 6px);}
div[id^="image-container"] {position : relative; float:left; left: -2px; top: -2px; border-right: 1px ridge #a19100; width: 50%; height: 50%;}
img[id^="image"] { background-color: transparent; display: block; margin-left: auto; margin-right: auto;}

div#title-4 {position : relative; margin-left: auto; margin-right: auto; left: 0px; top : -8px; font-size: 14px; padding-left: 5px; padding-right: 5px;  color: lightslategrey; background: url("../images/ui/background.png"); text-align : center; height : 13px; width : 40%; }
div[id^="stats"] {position : relative; float:right; left: 0px; top: calc(-50% + 4px); text-align: center; border-color: #a19100; border-top-style: double; width: 50%; height: calc(50% - 10px);}
div[id^="stats"]:hover {background-color: #64643065;}

div#title-5 {position : relative; margin-left: auto; margin-right: auto; left: 0px; top : -8px; font-size: 14px; padding-left: 5px; padding-right: 5px;  color: lightslategrey; background: url("../images/ui/background.png"); text-align : center; height : 13px; width : 40%; }
div[id^="exp"] {position : absolute; left : 0px; top : 50%; font-size: 12px; text-align : center; border-color: #a19100; border-top-style: double; padding-top: -1px; height : 80px; width : 50%;}
div[id^="exp"]:hover {background-color: #64643065;}

div#title-6 {position : relative; margin-left: auto; margin-right: auto; left: 0px; top : -8px; font-size: 14px; padding-left: 5px; padding-right: 5px;  color: lightslategrey; background: url("../images/ui/background.png"); text-align : center; height : 13px; width : 70%; }
div[id^="max-hits"] {position : absolute; left : 50%; top : 50%; font-size: 12px; text-align : center; border-color: #a19100; border-top-style: double; padding-top: -1px; height : 80px; width : 50%}
div[id^="max-hits"]:hover {background-color: #64643065;}

/* Summary */
div#title-7 {position : relative; margin-left: auto; margin-right: auto; left: 0px; top : 176px; font-size: 14px; padding-left: 5px; padding-right: 5px;  color: lightslategrey; background: url("../images/ui/background.png"); text-align : center; height : 13px; width : 40%; }
div[id^="summary"] {position : absolute; left : 5px; top : 245px; font-size: 12px; text-align : center; border-color: #a19100; border-top-style: double; padding-top: 3px; height : 75px; width : calc(100% - 6px);}
div[id^="summary"]:hover {background-color: #324e6165;}

div[id^="weaknessBox"] {position : absolute; left : 50%; top : 5px; font-size: 12px; text-align : center; height : 35px; width : 48%;}
div[id^="weaknessBox"] p#weakness-text {margin: 0px; padding: 0px;}
div[id^="weaknessBox"] img {position : relative; height : 18px; width : 18px; padding-right: 3px; padding-left: 3px;}

div[id^="susceptibleBox"] {position : absolute; left : 50%; top : 40px; font-size: 12px; text-align : center; height : 35px; width : 48%;}
div[id^="susceptibleBox"] p#susceptible-text {margin: 0px; padding: 0px;}
div[id^="susceptibleBox"] img {position : relative; height : 18px; width : 18px; padding-right: 3px; padding-left: 3px;}

/* Third Sections */
img.first-third-image {position : absolute; left : 5px; top : 7px; height : 15px; width : 15px;}
img.second-third-image {position : absolute; left : 5px; top : 25px; height : 15px; width : 15px;}
img.third-third-image {position : absolute; left : 5px; top : 40px; height : 15px; width : 15px;}

.first-third {position : absolute; left : 25px; top : 7px; font-size: 10px; text-align : left; height : 12px; width : 50%;}
.second-third {position : absolute; left : 25px; top : 25px; font-size: 10px; text-align : left; height : 12px; width : 50%;}
.third-third {position : absolute; left : 25px; top : 43px; font-size: 10px; text-align : left; height : 12px; width : 50%;}

/* Quarter Sections */
img.first-quarter-image {position : absolute; left : 5px; top : 5px; height : 15px; width : 15px;}
img.second-quarter-image {position : absolute; left : 5px; top : 20px; height : 15px; width : 15px;}
img.third-quarter-image {position : absolute; left : 5px; top : 35px; height : 15px; width : 15px;}
img.forth-quarter-image {position : absolute; left : 5px; top : 50px; height : 15px; width : 15px;}
img.fifth-quarter-image {position : absolute; left : 5px; top : 65px; height : 15px; width : 15px;}

.first-quarter {position : absolute; left : 25px; top : 8px; font-size: 10px; text-align : left; height : 12px; width : 50%;}
.second-quarter {position : absolute; left : 25px; top : 24px; font-size: 10px; text-align : left; height : 12px; width : 50%;}
.third-quarter {position : absolute; left : 25px; top : 38px; font-size: 10px; text-align : left; height : 12px; width : 50%;}
.forth-quarter {position : absolute;left : 25px; top : 53px; font-size: 10px; text-align : left; height : 12px; width : 50%;}
.fifth-quarter {position : absolute;left : 25px; top : 68px; font-size: 10px; text-align : left; height : 12px; width : 50%;}