/* Global Settings */
.nis     {background: url("../../images/ui/default/background.png");}
.nistext {color: #E5E6EB;}
a        {color: #ffffff; text-decoration: underline; cursor: pointer; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
a:hover  {color: #a19100; text-decoration: underline; cursor: pointer; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}

/* Buttons */
.nisbutton         {position: relative; width: auto; height: 32px; cursor: pointer; text-align: center; color: #000000; font-family: 'trajan-pro-3'; font-size: 18px; text-shadow: 1px 1px 2px #ECC622; margin: 5px; padding: 0px 12px; line-height: 32px; user-select: none; -webkit-user-select: none; background: url('../../images/ui/default/nisbutton.png') 0px -100%/24px 400% repeat content-box;}
.nisbutton::before {position: absolute; width: 12px; height: 100%; top: 0px; left: 00px; content: ""; background: url('../../images/ui/default/nisbutton.png') 0px 0px / 24px 400%;}
.nisbutton::after  {position: absolute; width: 12px; height: 100%; top: 0px; right: 1px; content: ""; background: url('../../images/ui/default/nisbutton.png') -12px 0px / 24px 400%;}
.nisbutton:hover         {background-position: 000px -300%;}
.nisbutton:hover::before {background-position: 000px -200%;}
.nisbutton:hover::after  {background-position: -12px -200%;}
.nisbutton:active, .nisbutton.fakeactive{-webkit-filter: brightness(1.2); filter: brightness(1.2);}

/* Main Settings */
body{font-family: sans-serif; font-size: 14px; overflow-x: hidden; margin: 10px; width: calc(100% - 10px);}
h2{border-top:1px solid #A3A3A3; font-weight: normal; margin-top: 25px; margin-bottom: -10px; color: #068b1c;}
h2:first-child{margin-top:10px;}

/* Credits */
#copyright {font-size: 10px; color: #5a6400; text-align:center; padding-top: 3px; height:20px; width: calc(100% - 10px);}