/* Global App settings */
.nis     {background: url("../../images/ui/default/background.png");}
.nistext {color: #E5E6EB;}
a        {color: #ffffff; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-decoration: none; cursor: pointer;}
a:hover  {color: #a19100; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-decoration: none; cursor: pointer;}

/* Base Sections of App */
div#menubar        {position: relative; width: 100%; height: 34px;}
div#base           {position: relative; width: 100%; height: 70px;}
#copyright         {position: relative; width: 100%; height: 13px; font-family: 'trajan-pro-3'; font-size: 11px; color: #5a6400; text-align: center; }
div.base-full      {height: 310px;}
.copyright-limited {top: 0px;}
.copyright-full    {top: 250px;}

/* Menu Bar Controls */
#infobutton          {position: absolute; width: 12px; height: 12px; top: 00px; left: 00px; z-index: 11; cursor:pointer; background: url('../../images/ui/default/infoicon.png') 0px 0px / cover;}
#menubutton          {position: absolute; width: 12px; height: 12px; top: 16px; left: 00px; z-index: 11; cursor:pointer; background: url('../../images/ui/default/settingscog.png') 0px 0px / cover;}
#donatebutton        {position: absolute; width: 12px; height: 12px; top: 32px; left: 00px; z-index: 11; cursor:pointer; background: url('../../images/ui/default/donate.png') 0px 0px / cover;}
#backbutton          {position: absolute; width: 12px; height: 12px; top: 32px; left: 16px; z-index: 11; cursor:pointer; background: url('../../images/ui/default/back.png') 0px 0px / cover;}
#forwardbutton       {position: absolute; width: 12px; height: 12px; top: 32px; left: 32px; z-index: 11; cursor:pointer; background: url('../../images/ui/default/forward.png') 0px 0px / cover;}
#infobutton:hover    {background-position: 0px -12px;}
#menubutton:hover    {background-position: 0px -12px;}
#donatebutton:hover  {background-position: 0px -12px;}
#backbutton:hover    {background-position: 0px -12px;}
#forwardbutton:hover {background-position: 0px -12px;}

/* Search Box & Button */
#search-info   {position: relative; width: calc(100% - 20px - 100px); height: 20px; top: 3px; left: 18px; color:#a39e00; cursor:pointer; background-color:#2f2f2f;}
#search-button {position: absolute; width: 66px; height: 33px; top: 0px; right: 0px; color:#370042; font-size: 18px; text-align: left;}

/* Search Button LookNFeel */
.nisbutton               {position: relative; width: auto; height: 32px; cursor: pointer; text-align: center; color: #000000; font-family: 'trajan-pro-3'; font-size: 18px; text-shadow: 1px 1px 2px #ECC622; margin-left: 5px; padding: 0px 12px; line-height: 32px; user-select: none; -webkit-user-select: none; background: url('../../images/ui/default/nisbutton.png') 0px -100%/24px 400% repeat content-box;}
.nisbutton::before       {position: absolute; width: 12px; height: 100%; top: 0px; left: 00px; content: ""; background: url('../../images/ui/default/nisbutton.png') 0px 0px / 24px 400%;}
.nisbutton::after        {position: absolute; width: 12px; height: 100%; top: 0px; right: 1px; content: ""; background: url('../../images/ui/default/nisbutton.png') -12px 0px / 24px 400%;}
.nisbutton:hover         {background-position: 000px -300%;}
.nisbutton:hover::before {background-position: 000px -200%;}
.nisbutton:hover::after  {background-position: -12px -200%;}
.nisbutton:active        {-webkit-filter: brightness(1.2); filter: brightness(1.2);}
.nisbutton.fakeactive    {-webkit-filter: brightness(1.2); filter: brightness(1.2);}

/* Loading Spinner */
.loading-container {position: absolute; width: 20px; height: 20px; top: 8px; right: 8px; cursor:pointer; }
.loading           {width: 20px; height: 20px; display: flex; justify-content: center; visibility: hidden;}
.loading::after    {width: 12px; height: 12px; content: ""; border: 3px dashed #13314e; border-radius: 100%; transform: rotate(0.125turn); animation: loading 2.5s ease-in-out infinite;}
@keyframes loading {to {transform: rotate(1.130turn);}}

/* Division Bar */
div.left        {position: absolute; width: calc(050% - 01px); left: 00%;}
div.right       {position: absolute; width: calc(050% - 01px); left: 50%;}
div.single      {position: absolute; width: 100%; left: 00%;}
div#divide      {position: absolute; width: 2px; left: calc(50% - 2px); background-color: #afad1f;}
.divide-limited {height: 65px;}
.divide-full    {height: 310px;}

/* Headers for Sections */
div#title-1 {position: absolute; height: 13px; left: calc(25%); right: calc(25%); z-index: 10; margin-top: -10px; font-size: 14px; text-align: center; padding: 0px 8px 0px; color: #778899; background: url("../../images/ui/default/background.png");}
div#title-2 {position: absolute; height: 13px; left: calc(25%); right: calc(25%); z-index: 10; margin-top: -10px; font-size: 14px; text-align: center; padding: 0px 8px 0px; color: #778899; background: url("../../images/ui/default/background.png");}
div#title-3 {position: absolute; height: 13px; left: calc(25%); right: calc(25%); z-index: 10; margin-top: -10px; font-size: 14px; text-align: center; padding: 0px 8px 0px; color: #778899; background: url("../../images/ui/default/background.png");}
div#title-4 {position: absolute; height: 11px; left: calc(15%); right: calc(15%); z-index: 22; margin-top: -06px; font-size: 12px; text-align: center; padding: 0px 8px 0px; color: #778899; background: url("../../images/ui/default/background.png");}
div#title-5 {position: absolute; height: 11px; left: calc(15%); right: calc(15%); z-index: 22; margin-top: -08px; font-size: 12px; text-align: center; padding: 0px 8px 0px; color: #778899; background: url("../../images/ui/default/background.png");}
div#title-6 {position: absolute; height: 11px; left: calc(15%); right: calc(15%); z-index: 22; margin-top: -08px; font-size: 12px; text-align: center; padding: 0px 8px 0px; color: #778899; background: url("../../images/ui/default/background.png");}
div#title-7 {position: absolute; height: 13px; left: calc(25%); right: calc(25%); z-index: 10; margin-top: -10px; font-size: 14px; text-align: center; padding: 0px 8px 0px; color: #778899; background: url("../../images/ui/default/background.png");}

/* Type of Assignment */
div.type            {position: relative; width: 100%; height: 22px; color: #008000; font-family: 'trajan-pro-3'; font-size: 20px; text-align: center;}
.right div.type     {color: #ff0000;}
#type-reaper        {color: #ffd700;}
#type-suggest       {color: #ff00d4; cursor:pointer;}
#type-suggest:hover {color: #6d0077;}

/* Suggested Creatures */
span.starnote              {position: relative; display: inline; color: #ffd700; font-size: 11px;}
div#footnote               {position: relative; width: 100%; height: 015px; left: 0%; top: 0px; color: #ffd700; font-size: 11px; text-align: right;}
table#suggestions          {position: relative; width: 100%; height: 200px; left: 0%; top: 0px; font-size: 16px; text-align: left;}
table#suggestions thead td {color: #ffd700; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
table#suggestions td       {color: #39cf96; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
td[id^="suggestion"]       {color: #008000; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; cursor:pointer;}
td[id^="suggestion"]:hover {color: #00db00;}

/* Assignment Info */
div.info                      {position: relative; width: 068%; height: 40px; left: 3px; top: 0px; margin-top: 5px; text-align: left;}
div.info div.task-wiki        {position: absolute; width: 24px; height: 24px; left: 0px; top: -4px; cursor:pointer; text-align: left; background: transparent url("../../images/ui/default/wikipedia.png") 0px 0px / cover;}
div.info div.kills            {position: absolute; width: 40px; height: 16px; left: 18px; top: 0px; text-align: right; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
div.info div#slayer-exp-text  {position: absolute; width: 33px; height: 16px; left: 3px; top: 20px; text-align: left;}
div.info div.name             {position: absolute; width: calc(100% - 65px); height: 16px; left: 62px; top: 0px; text-align: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
div.info div.total-slayer-exp {position: absolute; width: calc(100% - 40px); height: 16px; left: 35px; top: 20px; text-align: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
div.left div.info             {width: 100%;}
div.right div.info            {width: 100%;}
div.info:hover                {background-color: #324e6165;}
div.info div.task-wiki:hover  {background-position:0px -24px;}

/* Preview Task Wiki */
div.preview-task-wiki                                {position: absolute; width: calc(100% - 8px); height: auto; left: 0px; top: 0px; z-index: 11; visibility: hidden; text-align: left; border: 2px ridge #a19100; background: url("../../images/ui/default/background.png");}
div.preview-task-wiki div.masters                    {position: relative; width: calc(100% - 8px); height: auto; left: 0px; top: 0px; text-align: left;}
div.preview-task-wiki div.masterTitle                {position: relative; width: 100%; height: 27px; font-size: 18px; margin: 2px 0px 0px 3px; border-bottom: 3px double #a19100;}
div.preview-task-wiki div[class*="masterInfo"]       {position: relative; width: 100%; height: 27px; cursor:pointer; font-size: 14px; padding: 2px 0px 0px 3px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
div.preview-task-wiki img[id^="masterImage"]         {position: relative; width: 20px; height: 27px; cursor:pointer; vertical-align: middle; text-align: center;}
div.preview-task-wiki div[class*="masterInfo"]:hover {background-color: #64643065;}
div.left div.preview-task-wiki                       {left: 0px;}
div.right div.preview-task-wiki                      {left: 4px;}

/* Status Menu */
div.status                          {position: absolute; width: 100px; height: 60px; right: 0px; top: 2px; z-index: 10; text-align: left; border: 2px ridge #5a6400;}
div.status div.kills-per-text       {position: absolute; width: 100%; height: calc(33% - 6px); left: 0px; top: 33%; padding-top: 2px; font-size: 16px; border-top: 1px solid #a19100; margin-top: -2px;}
div.status div.exp-per-text         {position: absolute; width: 100%; height: calc(33% - 6px); left: 0px; top: 66%; padding-top: 2px; font-size: 16px; border-top: 1px solid #a19100; margin-top: -2px;}
div.status div.timer-text           {position: absolute; width: 100%; height: calc(33% - 6px); left: 0px; top: 0%; padding-top: 2px; font-size: 16px; margin-top: -2px;}
div.status div.timer-value          {position: absolute; width: calc(100% - 46px); height: 100%; left: 46px; top: 0px; padding: 2px 2px 0px 0px; font-size: 16px; text-align: right; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
div.status div.kills-per-hour       {position: absolute; width: calc(100% - 60px); height: 100%; left: 60px; top: 0px; padding: 2px 2px 0px 0px; font-size: 16px; text-align: right; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
div.status div.exp-per-hour         {position: absolute; width: calc(100% - 50px); height: 100%; left: 50px; top: 0px; padding: 2px 2px 0px 0px; font-size: 16px; text-align: right; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
div.status div.timer-text:hover     {background-color: #324e6165;}
div.status div.kills-per-text:hover {background-color: #324e6165;}
div.status div.exp-per-text:hover   {background-color: #324e6165;}
div.left div.status                 {visibility: hidden;}
div.right div.status                {visibility: hidden;}

/* Extra Data (Not shown on limited) */
div.extra-info {position: relative; width: 100%;}

/* Equpiment */
img#equip-image                             {position: relative; width: 18px; height: 18px;}
div.equipment                               {position: relative; width: calc(100% - 8px); height: 60px; left: 5px; top: 0px; padding-top: 3px; text-align: left; border-top: 3px double #a19100;}
div.equipment div[class*="equipInfo"]       {position: relative; width: 100%; height: auto; text-align: left;}
div.equipment div.equipHidden               {position: absolute; width: 100%; height: auto; left: 0px; top: 42px; z-index: 11; margin-left: -3px; visibility: hidden; border: 3px groove #778899; border-top-style:none; background: url("../../images/ui/default/background.png");}
div.equipment div.equipMore                 {position: absolute; width: 100%; height: 16px; left: 0px; top: 42px; cursor:pointer; text-decoration: underline; color: #778899; font-size: 10px; text-align: left;}
div.equipment div[class*="equipInfo"]:hover {background-color: #64643065;}
div.equipment div.equipMore:hover           {background-color: #64643065;}

/* Locations */
img#location-image                             {position: relative; width: 18px; height: 18px;}
div.locations                                  {position: relative; width: calc(100% - 8px); height: 60px; left: 5px; top: 0px; padding-top: 3px; text-align: left; border-top: 3px double #a19100;}
div.locations div[class*="locationInfo"]       {position: relative; width: 100%; height: auto; text-align: left;}
div.locations div.locationHidden               {position: absolute; width: 100%; height: auto; left: 0px; top: 42px; z-index: 11; margin-left: -3px; visibility: hidden; border: 3px groove #778899; border-top-style:none; background: url("../../images/ui/default/background.png");}
div.locations div.locationMore                 {position: absolute; width: 100%; height: 16px; left: 0px; top: 42px; cursor:pointer; text-decoration: underline; color: #778899; font-size: 10px; text-align: left;}
div.locations div[class*="locationInfo"]:hover {background-color: #64643065;}
div.locations div.locationMore:hover           {background-color: #64643065;}

/* Creature Wiki */
div#creature-container  {position: relative; width: calc(100%  - 08px); height: 32px; left: 03px; top: 0px; padding-top: 3px; border-top: 3px double #a19100;}
select.creatures        {position: absolute; width: calc(64%   - 10px); height: 20px; left: 24px; top: 9px; cursor:pointer; background-color: #2f2f2f;}
select.variants         {position: absolute; width: calc(34.5% - 15px); height: 20px; left: calc(65% + 16px); top: 9px; cursor:pointer; background-color: #2f2f2f;}
div.creature-wiki       {position: absolute; width: 24px; height: 24px; left: -2px; top: 5px; cursor:pointer; text-align: left; background: transparent url("../../images/ui/default/wikipedia.png") 0px 0px / cover;}
div.creature-wiki:hover {background-position: 0px -24px;}

/* Creature Wiki Preview */
div.preview-creature-wiki                           {position: absolute; width: calc(100% - 6px); height: 178px; left: 0px; top: -42px; z-index: 11; visibility: hidden; border: 2px ridge #a19100; background: url("../../images/ui/default/background.png"); text-align: left;}
div.preview-creature-wiki div.image-container       {position: absolute; width: 50%; height: 50%; left: 0px; top: 0px; border-top: 1px solid #a19100; border-right: 1px ridge #a19100;}
div.preview-creature-wiki div.stats                 {position: absolute; width: 50%; height: 50%; left: 50%; top: 0px; font-size: 12px; text-align: center; border-top: 1px solid #a19100;}
div.preview-creature-wiki div.exp                   {position: absolute; width: 50%; height: 50%; left: 0px; top: 50%; font-size: 12px; text-align: center; border-top: 3px double #a19100; border-right: 1px ridge #a19100; padding-top: -1px;}
div.preview-creature-wiki div.max-hits              {position: absolute; width: 50%; height: 50%; left: 50%; top: 50%; font-size: 12px; text-align: center; border-top: 3px double #a19100; padding-top: -1px;}
div.preview-creature-wiki img.image                 {display: block; margin-left: auto; margin-right: auto; background-color: transparent;}
div.preview-creature-wiki div.image-container:hover {background-color: #64643065;}
div.preview-creature-wiki div.stats:hover           {background-color: #64643065;}
div.preview-creature-wiki div.exp:hover             {background-color: #64643065;}
div.preview-creature-wiki div.max-hits:hover        {background-color: #64643065;}
div.left div.preview-creature-wiki                  {left: -2px;}
div.right div.preview-creature-wiki                 {left: 3px;}

/* Summary */
div.summary       {position: relative; width: calc(100% - 8px); height: 75px; left: 5px; top: 0px; padding-top: 3px; font-size: 12px; text-align: center; border-top: 3px double #a19100;}
div.summary:hover {background-color: #324e6165;}

div.summary div.weaknessBox     {position: absolute; width: 048%; height: 35px; left: 50%; top: 5px; font-size: 12px; text-align: center;}
div.summary div.weaknessBox img {position: relative; width: 18px; height: 18px; padding: 0px 3px 0px 3px;}
div.summary div.weaknessBox p#weakness-text {margin: 0px; padding: 0px;}

div.summary div.susceptibleBox     {position: absolute; width: 048%; height: 35px; left: 50%; top: 40px; font-size: 12px; text-align: center;}
div.summary div.susceptibleBox img {position: relative; width: 18px; height: 18px; padding: 0px 3px 0px 3px;}
div.summary div.susceptibleBox p#susceptible-text {margin: 0px; padding: 0px;}

/* Third Sections */
img.first-third-image  {position: absolute; width: 15px; height: 15px; left: 5px; top: 10px;}
img.second-third-image {position: absolute; width: 15px; height: 15px; left: 5px; top: 28px;}
img.third-third-image  {position: absolute; width: 15px; height: 15px; left: 5px; top: 43px;}

.first-third  {position: absolute; width: 50%; height: 12px; left: 25px; top: 10px; font-size: 10px; text-align: left;}
.second-third {position: absolute; width: 50%; height: 12px; left: 25px; top: 28px; font-size: 10px; text-align: left;}
.third-third  {position: absolute; width: 50%; height: 12px; left: 25px; top: 46px; font-size: 10px; text-align: left;}

/* Quarter Sections */
img.first-quarter-image  {position: absolute; width: 15px; height: 15px; left: 5px; top: 8px;}
img.second-quarter-image {position: absolute; width: 15px; height: 15px; left: 5px; top: 23px;}
img.third-quarter-image  {position: absolute; width: 15px; height: 15px; left: 5px; top: 38px;}
img.forth-quarter-image  {position: absolute; width: 15px; height: 15px; left: 5px; top: 53px;}
img.fifth-quarter-image  {position: absolute; width: 15px; height: 15px; left: 5px; top: 68px;}

.first-quarter  {position: absolute; width: 50%; height: 12px; left: 25px; top: 10px; font-size: 10px; text-align: left;}
.second-quarter {position: absolute; width: 50%; height: 12px; left: 25px; top: 26px; font-size: 10px; text-align: left;}
.third-quarter  {position: absolute; width: 50%; height: 12px; left: 25px; top: 40px; font-size: 10px; text-align: left;}
.forth-quarter  {position: absolute; width: 50%; height: 12px; left: 25px; top: 55px; font-size: 10px; text-align: left;}
.fifth-quarter  {position: absolute; width: 50%; height: 12px; left: 25px; top: 70px; font-size: 10px; text-align: left;}